<div id="left">
	<div id="category_header_top">
		<p>Danh Sách Hạng Mục</p>
	</div>
	<div id="category_header_bot">
		<div class="input-group add-on">
			<input class="form-control" placeholder="Tìm hạng mục" id="input_search_category" type="text">
			<div class="input-group-btn">
				<button class="btn btn-default" type="submit" id="btn_search_category"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
	</div>
	<div id="category_content" ng-controller="Categories">
		<span id="icon_add_category">
			<a style="color:#009ae1;" onclick="$('#add_category').modal({show:true})">
				<p><i class="material-icons">add_circle_outline</i></p>
			</a>
		</span>
		<div class="category_item" ng-repeat="category in categories">
			<a>{{category.name}}</a>
			<div class="category_options">
				<a onclick='return confirm("Bạn có chắc muốn xóa?");' href=''><i class="glyphicon glyphicon-remove"></i></a>
			</div>
			<div class="category_options">
				<a onclick='show_category_edit()'><i class="glyphicon glyphicon-edit"></i></a>
			</div>
		</div>
	</div>
</div>

<div id="separator">
	<span><i class="fa fa-angle-left"></i></span>
</div>

<div id="right">
	<table id="estimate_table">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Mã công tác</th>
				<th>Tên công tác/ Diễn giải</th>
				<th>Số lượng</th>
				<th>Dài</th>
				<th>Rộng</th>
				<th>Cao</th>
				<th>Khối lượng</th>
				<th>Đơn vị</th>
				<th>Đơn giá</th>
				<th>Thành tiền</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td contenteditable></td>
				<td contenteditable></td>
				<td contenteditable></td>
				<td contenteditable></td>
				<td contenteditable></td>
				<td contenteditable></td>
				<td contenteditable></td>
				<td></td>
				<td></td>
				<td></td>
				<input type="hidden" id="old_id" value="" />
			</tr>
			<tr>
				<td></td>
				<td contenteditable></td>
				<td contenteditable></td>
				<td contenteditable></td>
				<td contenteditable></td>
				<td contenteditable></td>
				<td contenteditable></td>
				<td contenteditable></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div id="sum_money">Tổng chi phí: </div>
</div>
