<div id="homeContainer" class="container">
    <div id="construction_options">
        <div class="open_option" ng-click="add()">
            <img class="open_option_thumbnail" src="images/add_icon.png">
            <div class="open_option_title">New construction</div>
        </div>
        <div class="open_option" ng-click="viewAll()">
            <img class="open_option_thumbnail" src="images/all_icon.png">
            <div class="open_option_title">All constructions</div>
        </div>
        <div class="open_option">
            <img class="open_option_thumbnail" src="images/googledrive_logo.png">
            <div class="open_option_title">Open with Google Drive</div>
        </div>
        <div class="open_option">
            <img class="open_option_thumbnail" src="images/excel_logo.png">
            <div class="open_option_title">Open on your PC</div>
        </div>
    </div>
    <div id="recent_construction">
        <h2 ng-show="recentConstructions" id="recent_construction_title">Recent</h2>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-repeat="construction in recentConstructions">
            <div class="thumbnail" ng-mouseover="showFunctions=true" ng-mouseleave="showFunctions=false">
                <img src="images/defaultPictureForConstructions.png" class="clickable"
                     ui-sref="construction({construction_id: construction.id, name:construction.name})">
                <div class="caption row">
                    <p class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-left">
                        <b class="clickable" ui-sref="construction({construction_id: construction.id, name:construction.name})">{{construction.name}}</b><br>
                        Opened: {{getDateFormat(construction.updated_at) | date : 'dd-MM-yyyy'}}
                    </p>
                    
					<!--I don't remove it because we may use it in future-->
					<!--div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" uib-dropdown>
                        <span class="glyphicon glyphicon-option-vertical btn btn-link" uib-dropdown-toggle></span>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li role="menuitem"><a><span class="glyphicon glyphicon-edit"> Edit</span></a></li>
                            <li role="menuitem"><a ng-click="remove(construction.id)"><span
                                    class="glyphicon glyphicon-trash"> Remove</span></a></li>
                        </ul>
                    </div-->
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-show="showFunctions">
                        <a ng-click="remove(construction.id)"><span class="glyphicon glyphicon-remove clickable"> </span></a>
						<a><span class="glyphicon glyphicon-edit clickable"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
