<div id="taiKhoan">	
	<div id="dangNhap">
		<div class="clearfix"></div>
		<div class="panel panel-default">
		  <div class="panel-body">
			<div class="col-lg-1">
			</div>
			<form class="col-lg-10" role="form">
				<div class="form-group">
					<center>
						<h1> 
							Dự toán HMS
						</h1>
					</center>
				</div>
				<div class="form-group">
				<center>				
					<a class="btn btn-block btn-social btn-google" id="googleSignIn">
						<span class="fa fa-google"></span> <center>Đăng nhập với Google</center>
					</a>
				</center>
				</div>
			</form>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-body">
			<div class="col-lg-1">
			</div>
			<div class="col-lg-10">
				<center>
				Bạn chưa có tài khoản?
				<a href="https://accounts.google.com/signup?hl=vi" target="_blank">Đăng ký ngay</a>
				</center>
			</div>
			<div class="col-lg-1">
			</div>
		  </div>
		</div>
	</div>
</div> 