<nav class="navbar navbar-default" id="navigationBar">
  <div class="container-full">
    <div class="col-lg-1" id="logo" ui-sref="home">
       
    </div>
    <div class="col-lg-11" id="titleBar">
        <div class="col-sm-6 vcenter" ng-click="editConstruction()">
            <h3>{{stateName}}</h3>
        </div>
        <div class="col-sm-6 text-right" id="account">
            <a popover-placement="bottom" uib-popover-template="'popover'">
                <img ng-src="{{user.pictureURL}}" alt="picture" class="img-circle clickable" 
                width="24" height="24">
            </a>
        </div>
    </div>
    <div class="col-lg-11" id="menuBar">
        <div class="well well-sm">
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button class="btn btn-default" uib-dropdown-toggle> File <span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                    <li role="menuitem" ng-click="add()"><a>New</a></li>
                    <li role="menuitem" ng-click="viewAll()"><a>Open...</a></li>
                    <li role="menuitem"><a>Import...</a></li>
                    <li role="menuitem"><a>Export...</a></li>
                    <li class="divider"></li>
                    
                </ul>
            </div>
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button class="btn btn-default" uib-dropdown-toggle> Construction <span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                    <li role="menuitem"><a>Analyse construction...</a></li>
                    <li role="menuitem"><a>Construction info</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button class="btn btn-default" uib-dropdown-toggle> Data <span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                    <li role="menuitem"><a>Download new supplier...</a></li>
                    <li role="menuitem"><a>Import supplier...</a></li>
                    <li role="menuitem"><a>Export supplier...</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button class="btn btn-default" uib-dropdown-toggle> Tools <span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                    <li role="menuitem"><a>Tool 1</a></li>
                    <li role="menuitem"><a>Tool 2</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button class="btn btn-default" uib-dropdown-toggle> View <span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                    <li role="menuitem" ng-click="collapseCategories()"><a>Show/ Hide categories</a></li>
                    <li role="menuitem"><a>Settings...</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button class="btn btn-default" uib-dropdown-toggle> Help <span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                    <li role="menuitem"><a>Tutorial mode</a></li>
                    <li role="menuitem"><a>Tutorial videos</a></li>
                    <li role="menuitem"><a>Something else...</a></li>
                </ul>
            </div>
            Last modified:
        </div>
    </div>
  </div>
</nav>
<script type="text/ng-template" id="popover">
    <div>
        <div class="row">
            <div class="col-xs-4">
                <img ng-src="{{user.pictureURL}}" class="img-circle" alt="picture" width="70" height="70"
                     style="margin-bottom : 10px">
            </div>
            <div class="col-xs-8"><b>{{user.name}}</b><p>{{user.email}}</p></div>
        </div>
        <div class="row well well-sm">
            <div class="col-xs-8">
                <button type="button" class="btn btn-default" ng-click="deleteUser()">Delete Account</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-default" ng-click="logOut()">Sign out</button>
            </div>
        </div>
    </div>
</script>