<nav class="navbar navbar-default" id="nav-bar">
  <div class="container-full">
    <div class="col-lg-1 clickable" id="logo" ui-sref="home"></div>
    <div class="col-lg-10" id="construction-search" ng-if="stateName == 'Home'">
        <div class="input-group">
          <input class="form-control" placeholder="Nhập tên công trình cần tìm..." type="text" ng-model="constructionSearchTxt">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="searchConstruction(constructionSearchTxt)"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
    </div>
    <div class="col-lg-10" id="nav-bar-mid" ng-if="stateName != 'Home'">
        <div class="col-lg-12 clickable" id="title-bar">
            <h3 ng-click="editConstruction()">{{stateName}}</h3>
        </div>
        <div class="col-lg-12" id="menu-bar">
            <div class="well well-sm">
                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                    <button class="btn btn-default" uib-dropdown-toggle> File <span class="caret"></span></button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                        <li role="menuitem" ng-click="addConstruction()"><a>Mới</a></li>
                        <li role="menuitem" ng-click="allConstructions()"><a>Mở...</a></li>
                        <li role="menuitem"><a>Nhập file...</a></li>
                        <li role="menuitem" class="clickable"><a ng-click="exportToGoogleSheet()">Xuất file...</a></li>
                        <li class="divider"></li>
                        
                    </ul>
                </div>
                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                    <button class="btn btn-default" uib-dropdown-toggle> Công trình <span class="caret"></span></button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                        <li role="menuitem"><a>Phân tích...</a></li>
                        <li role="menuitem"><a>Thông tin chi tiết</a></li>
                    </ul>
                </div>
                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                    <button class="btn btn-default" uib-dropdown-toggle> Dữ liệu <span class="caret"></span></button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                        <li role="menuitem"><a>Tải bảng giá mới...</a></li>
                        <li role="menuitem"><a>Nhập bảng giá...</a></li>
                        <li role="menuitem"><a>Xuất bảng giá...</a></li>
                    </ul>
                </div>
                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                    <button class="btn btn-default" uib-dropdown-toggle> Công cụ <span class="caret"></span></button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                        <li role="menuitem"><a>1</a></li>
                        <li role="menuitem"><a>2</a></li>
                    </ul>
                </div>
                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                    <button class="btn btn-default" uib-dropdown-toggle> Hiển thị <span class="caret"></span></button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                        <li role="menuitem" ng-click="collapseCategories()"><a>Ẩn/ Hiện hạng mục</a></li>
                        <li role="menuitem"><a>Tùy chỉnh...</a></li>
                    </ul>
                </div>
                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                    <button class="btn btn-default" uib-dropdown-toggle> Trợ giúp <span class="caret"></span></button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                        <li role="menuitem"><a>Chế độ hướng dẫn</a></li>
                        <li role="menuitem"><a>Video hướng dẫn</a></li>
                        <li role="menuitem"><a>...</a></li>
                    </ul>
                </div>
                <span>Sửa lần cuối vào:</span>
            </div>
        </div>
    </div>
    <div class="col-lg-1" id="account">
        <img ng-src="{{user.pictureURL}}" alt="picture" class="img-circle clickable" 
            width="32" height="32" popover-placement="bottom" uib-popover-template="'popover'">
    </div>
  </div>
</nav>
<script type="text/ng-template" id="popover">
    <div>
        <div class="row">
            <div class="col-xs-4">
                <img ng-src="{{user.pictureURL}}" class="img-circle" alt="picture" width="70" height="70"
                     style="margin-bottom : 10px">
            </div>
            <div class="col-xs-8"><b>{{user.name}}</b><p>{{user.email}}</p></div>
        </div>
        <div class="row well well-sm">
            <div class="col-xs-6">
                <button type="button" class="btn btn-default" ng-click="deleteUser()">Xóa tài khoản</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-default" ng-click="logOut()">Đăng xuất</button>
            </div>
        </div>
    </div>
</script>