<nav class="navbar navbar-default" id="sheet-nav">
  <div class="container-full">
    <!-- logo -->
    <div class="col-xs-2 col-sm-1 col-md-1 clickable" ui-sref="home" id="hms-home">HMS</div>
    <div class="col-xs-10 col-sm-11 col-md-11">
        <div class="row" id="construction-name">
            <div class="col-xs-12 clickable">
                <p ng-click="editConstruction()">{{stateName}}</p>
            </div>
        </div>
        <button type="button" class="navbar-toggle collapsed pull-left" ng-init="menuCollapsed = true" ng-click="menuCollapsed = !menuCollapsed" id="sheet-menu-toggle">
            <i class="glyphicon glyphicon-menu-down"></i>
        </button>

        <div class="collapse navbar-collapse" id="sheet-menubar">
            <div class="col-xs-12">
                <div class="well well-sm">
                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                        <button class="btn btn-default" uib-dropdown-toggle> Tệp <span class="caret"></span></button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                            <li role="menuitem" ng-click="addConstruction()"><a>Mới</a></li>
                            <li role="menuitem" ng-click="allConstructions()"><a>Mở...</a></li>
                            <li class="divider"></li>
                            <li role="menuitem" class="clickable"><a ng-click="exportToGoogleSheet()">Xuất tệp...</a></li>
                        </ul>
                    </div>
                        
                    <!--div class="btn-group" uib-dropdown dropdown-append-to-body>
                        <button class="btn btn-default" uib-dropdown-toggle> Công trình <span class="caret"></span></button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                            <li role="menuitem"><a>Phân tích...</a></li>
                            <li role="menuitem"><a>Thông tin chi tiết</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                        <button class="btn btn-default" uib-dropdown-toggle> Dữ liệu <span class="caret"></span></button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                            <li role="menuitem"><a>Tải bảng giá mới...</a></li>
                            <li role="menuitem"><a>Nhập bảng giá...</a></li>
                            <li role="menuitem"><a>Xuất bảng giá...</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                        <button class="btn btn-default" uib-dropdown-toggle> Công cụ <span class="caret"></span></button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                            <li role="menuitem"><a>1</a></li>
                            <li role="menuitem"><a>2</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                        <button class="btn btn-default" uib-dropdown-toggle> Hiển thị <span class="caret"></span></button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                            <li role="menuitem" ng-click="collapseCategories()"><a>Ẩn/ Hiện hạng mục</a></li>
                            <li role="menuitem"><a>Tùy chỉnh...</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                        <button class="btn btn-default" uib-dropdown-toggle> Trợ giúp <span class="caret"></span></button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                            <li role="menuitem"><a>Chế độ hướng dẫn</a></li>
                            <li role="menuitem"><a>Video hướng dẫn</a></li>
                            <li role="menuitem"><a>...</a></li>
                        </ul>
                    </div-->
                    <div class="btn-group">
                        <button class="btn btn-default" uib-dropdown-toggle style="cursor: auto">Sửa lần cuối vào: {{getDateFormat(modifiedDate) | date : 'dd-MM-yyyy HH:mm'}}</button>
                    </div>
                    <div class="btn-group pull-right" ng-click="logOut()">
                        <button class="btn btn-default">
                            Đăng xuất
                        </button>
                    </div>
                    <div class="btn-group pull-right" >
                        <button class="btn btn-default" uib-dropdown-toggle style="cursor: auto">{{user.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- collapse menu  -->
    <div class="col-xs-12 collapse hidden-sm hidden-md hidden-lg" ng-class="!menuCollapsed && 'in'" ng-click="menuCollapsed=false" id="collapse-menu">
        <ul class="nav">
            <li ng-click="addConstruction()"><a>Tạo công trình mới</a></li>
            <li ng-click="allConstructions()"><a>Mở công trình...</a></li>
            <li><a ng-click="exportToGoogleSheet()">Xuất tệp...</a></li>
            <li><a ng-click="logOut()">Đăng xuất</a></li>
        </ul>
    </div>
  </div>
</nav>