<div id="left">
    <div id="category_header_top">
        <p>Danh Sách Hạng Mục</p>
    </div>
    <div id="category_header_bot">
        <input class="form-control" placeholder="Tìm hạng mục" id="input_search_category" type="text">
    </div>
    <div id="category_content" ng-controller="CategoriesController">
        <i ng-click="add()" class="material-icons">add_circle_outline</i>
        <div class="category_item" ng-repeat="category in categories">
            <i ui-sref=".category({category_id:category.id})">{{category.name}}</i>
            <div class="category_options">
                <i class="glyphicon glyphicon-remove"></i>
                <i class="glyphicon glyphicon-edit"></i>
            </div>
        </div>
    </div>
</div>

<div id="separator">
    <span><i class="fa fa-angle-left"></i></span>
</div>

<div id="right">
    <table id="estimate_table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Mã công tác</th>
            <th>Tên công tác/ Diễn giải</th>
            <th>Số lượng</th>
            <th>Dài</th>
            <th>Rộng</th>
            <th>Cao</th>
            <th>Khối lượng</th>
            <th>Đơn vị</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td></td>
            <td></td>
            <td></td>
            <input type="hidden" id="old_id" value=""/>
        </tr>
        <tr>
            <td></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <div id="sum_money">Tổng chi phí:</div>
</div>
