#bang_do_boc tbody, 
#bang_cong_tac_ps tbody,
#tu_dien tbody, 
#ket_qua_tim_cong_tac tbody, 
#bang_gia tbody,
#ket_qua_tim_vat_tu tbody 
{
    display:block;
	height:380px;
	overflow-x:hidden;
    overflow-y:scroll;
}
#bang_cong_tac_ps tbody{height:250px}
#tu_dien tbody, 
#ket_qua_tim_cong_tac tbody, 
#bang_gia tbody
{
	height:400px;
}
#bang_do_boc thead, 
#bang_do_boc tbody tr, 
#bang_cong_tac_ps thead, 
#bang_cong_tac_ps tbody tr,
#tu_dien thead , 
#tu_dien tbody tr,
#ket_qua_tim_cong_tac thead, 
#ket_qua_tim_cong_tac tbody tr,
#bang_gia thead, 
#bang_gia tbody tr,
#ket_qua_tim_vat_tu thead, 
#ket_qua_tim_vat_tu  tbody tr
{
    display:table;
    width:100%;
    table-layout:fixed;
}
#bang_do_boc thead, 
#bang_cong_tac_ps thead
{
    width: calc( 100% - 1em );
}
#tu_dien thead, 
#ket_qua_tim_cong_tac thead, 
#bang_gia thead,
#ket_qua_tim_vat_tu  thead
{
    width: calc( 100% - 1.2em );
}