#menu_bar{
	width:100%;
	height:calc(100% - 22px);
	background:white;
	clear:both;
}
#menu{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	list-style:none;
}
.current-li{
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-radius:3px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
#menu a{color:#222;}
#menu_toggle{
	display:none;
	font-size:20px;
	margin-left:10px;
}
#menu>li{
	float:left;
	height:100%;
	padding:10px 0 0 0;
	position:relative;
}
#menu>li:hover> a{
	color:#009ae1;
}
#menu>li>a{padding:10px;}
#menu>li:last-child{font-style:italic;}
#menu>li:last-child:hover{background:white;}
#menu>li:last-child:hover a{
	color:#222;
	cursor:auto;
}
.overlay{
	background:white;
	height:5px;
	width:100%;
	position:absolute;
	top:32px;
	z-index:1000;
}
.menu_divider{
	width:100%;
	height:1px;
	margin:3px 0 3px 0;
	background:#CCC;
}
/*level 1*/
#menu>li>ul{
	width:300px;
	list-style:none;
	display:none;
	margin:0;
	padding:5px 0;
	position:absolute;
	background:white;
	border:1px solid rgba(0,0,0,.2);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	z-index:999;
	left:-1px;
	top:35px;
}
#menu>li>ul>li>a{
	display:block;
	padding:10px 50px 10px 20px;
}
#menu>li>ul>li i{
	margin-right:15px;
	width:5px;
	color:#222;
}
#menu>li>ul>li:hover{background:#f5f5f5;}
#menu .fa-angle-right{
	position:absolute;
	right:0;
}
/*level 2*/
#menu>li>ul>li>ul{
	width:150px;
	display:none;
	list-style:none;
	margin:0;
	padding:5px 0;
	position:absolute;
	background:white;
	border:1px solid rgba(0,0,0,.2);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	z-index:999;
	left:298px;
	margin-top:-35px;
}
#menu>li>ul>li>ul>li a{
	display:block;
	padding:10px 20px 10px 20px;
}
#menu>li>ul>li>ul>li i{
	margin-right:15px;
	width:5px;
	color:#222;
}
#menu>li>ul>li>ul>li:hover{background:#f5f5f5;}
@media screen and (max-width: 880px)
{
	#menu{
		display:none;
		width:50%;
	}
	#menu_toggle{
		display:block;
	}
	#menu{
		position: absolute;
		height:auto;
	}
	#menu>li{
		float:none;
		margin-top:0;
		background:white;
		z-index:999;
		border:1px solid #CCC;
		border-top:none;
	}
	#menu>li>a{
		padding-top:0;
		display:block;
	}
	#menu_bar .current-li,
	#menu>li>ul>li>ul
	{
		box-shadow: none;
	}
	#menu>li>ul{border:none;}
	#menu>li:nth-child(1){
		border-top:1px solid #CCC;
	}
	#menu>li>ul{
		position: static;
		width:100%;
		border-top: 2px solid #CCC;
		box-shadow:none;
	}
	.menu_divider{
		border:1px dashed #CCC;
		background:none;
	}
	#menu>li>ul>li>ul{left:100%;}
}