#main-table{
	margin-top: 1%;
}
#works-table{
	position: absolute;
	text-align: center;
	z-index: 100;
    width:  500px;
	height:200px;
	overflow-y: auto;
	background: white;
	outline: 1.5px solid #5B9DD9;
	outline: -webkit-focus-ring-color auto 5px;
}

#work-table table {font-size:12px;}
#work-table th{
	background: #f5f5f5;
}
#work-table td{
	padding: 10px;
}
#work-table td:nth-child(2){
	text-align: left;
	padding-left: 5px
}
#estimate-table{
	height: 400px;
}
#estimate-table td{
	border-top: none
}
#estimate-table th, #estimate-table td{
	overflow: hidden;
	text-overflow: ellipsis;
}
#estimate-table tr th{
	cursor:pointer;
	background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#eee);
    background-image: -moz-linear-gradient(top,#f5f5f5,#eee);
    background-image: -ms-linear-gradient(top,#f5f5f5,#eee);
    background-image: -o-linear-gradient(top,#f5f5f5,#eee);
    background-image: linear-gradient(top,#f5f5f5,#eee);
}
#estimate-table td:nth-child(1){
	cursor: pointer;
	text-decoration: none!important;
	font-weight: 100!important;
	font:normal 14px arial,sans-serif!important;
	text-align: center!important;
}
#estimate-table tr td:nth-child(1){
	background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#eee);
    background-image: -moz-linear-gradient(top,#f5f5f5,#eee);
    background-image: -ms-linear-gradient(top,#f5f5f5,#eee);
    background-image: -o-linear-gradient(top,#f5f5f5,#eee);
    background-image: linear-gradient(top,#f5f5f5,#eee);
}
#estimate-table tr td:nth-child(2){
	position:relative;
}
#estimate-table tr td:nth-child(3){
	position: relative;
	text-align: left;
	padding-left: 5px;
}
#estimate-table tr th:nth-child(1), #estimate-table tr td:nth-child(1){width: 3%;}
#estimate-table tr th:nth-child(2), #estimate-table tr td:nth-child(2){width: 8%;}
#estimate-table tr th:nth-child(3), #estimate-table tr td:nth-child(3){width: 33%;}
#estimate-table tr th:nth-child(4), #estimate-table tr td:nth-child(4){width: 7%;}
#estimate-table tr th:nth-child(5), #estimate-table tr td:nth-child(5){width: 7%;}
#estimate-table tr th:nth-child(6), #estimate-table tr td:nth-child(6){width: 7%;}
#estimate-table tr th:nth-child(7), #estimate-table tr td:nth-child(7){width: 7%;}
#estimate-table tr th:nth-child(8), #estimate-table tr td:nth-child(8){width: 7%;}
#estimate-table tr th:nth-child(9), #estimate-table tr td:nth-child(9){width: 7%;}
#estimate-table tr th:nth-child(10), #estimate-table tr td:nth-child(10){width: 7%;}
#estimate-table tr th:nth-child(11), #estimate-table tr td:nth-child(11){width: 7%;}

#sum-money{
	margin-top: 1%;
	font-size: 18px;
	text-align: right;
}
.sub-category{
	font-size: 18px;
	font-weight: 900!important;
	background: #C5EFF7;
}
.input-in-cells {
	border: 0;
	margin: 0;
	padding-right: 5px;
	cursor: cell;
	width:  100%;
}