<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close">&times;</button>
    <h2 class="modal-title">Tạo công trình mới</h2>
</div>
<div class="modal-body">
    <form name="formAddConstruction">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h3>Thông tin chung</h3>
            <div class="form-group" ng-class="{ 'has-error' : formAddConstruction.constructionName.$error.required && formAddConstruction.constructionName.$dirty }">
                <label>Tên công trình*</label>
                <input type="text" name="constructionName" placeholder="Ví dụ: Đại học Sài Gòn" ng-model="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Địa điểm</label><br>
				<div class="controls form-inline">
					<input type="text" ng-model="address" size="40" class="form-control"
						   placeholder="Ví dụ: 273 An Dương Vương P.3 Q.5">
					<select ng-model="supplier_id" class="form-control">
						<option value="" selected disabled>Chọn thành phố</option>
						<option value="HCM">Hồ Chí Minh</option>
						<option value="HN">Hà Nội</option>
					</select>
				</div>
            </div>
            <div class="form-group">
                <label>Chủ đầu tư</label>
                <input type="text" ng-model="investor" class="form-control">
            </div>
            <div class="form-group">
                <label>Đơn vị thực hiện</label>
                <input type="text" ng-model="contractor" class="form-control">
            </div>
            <h3>Loại công trình</h3>
            <div class="form-group">
                <label>Loại công trình</label>
                <select ng-model="type" class="form-control">
                    <option value="" selected disabled>Chọn loại công trình</option>
					<option value="1">Dân dụng</option>
                    <option value="2">Công nghiệp</option>
                    <option value="3">Giao thông</option>
                    <option value="4">Thủy lợi</option>
                    <option value="5">Hạ tầng kỹ thuật</option>
                </select>
            </div>
            <div class="form-group">
                <label>Loại thiết kế</label>
                <select ng-model="design_type" class="form-control">
                    <option value="" selected disabled>Chọn loại thiết kế</option>
					<option value="1">Thiết kế 1 bước</option>
                    <option value="2">Thiết kế 2 bước</option>
                    <option value="3">Thiết kế 3 bước</option>
                </select>
            </div>
            <div class="form-group">
                <label>Cấp công trình</label>
                <select ng-model="level" class="form-control">
                    <option value="" selected disabled>Chọn cấp công trình</option>
					<option value="1">Cấp I</option>
                    <option value="2">Cấp II</option>
                    <option value="3">Cấp III</option>
                    <option value="4">Cấp IV</option>
                    <option value="5">Cấp đặc biệt</option>
                </select>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Đóng</button>
    <button type="submit" class="btn btn-primary" ng-click="create()" ng-disabled="formAddConstruction.$invalid">Tạo mới</button>
</div>
