<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close">&times;</button>
    <h2 class="modal-title">Tạo công trình mới</h2>
</div>
<div class="modal-body">
    <form name="formAddContruction">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h3>Thông tin chung</h3>
            <div class="form-group" ng-class="{ 'has-error' : formAddContruction.contructionName.$error.required && formAddContruction.contructionName.$dirty }">
                <label>Tên công trình</label>
                <input type="text" name="contructionName" ng-model="name" class="form-control" value="" required>
            </div>
            <div class="form-group">
                <label>Địa điểm</label><br>
                <input style="width:50%;display:inline-block" type="text" ng-model="address1" class="form-control"
                       placeholder="273 An Dương Vương P.3 Q.5" value="">
                <select style="width:30%;display:inline-block" ng-model="address2" class="form-control">
                    <option value="HCM">Hồ Chí Minh</option>
                    <option value="HN">Hà Nội</option>
                </select>
            </div>
            <div class="form-group">
                <label>Chủ đầu tư</label>
                <input type="text" ng-model="investor" class="form-control" value="">
            </div>
            <div class="form-group">
                <label>Đơn vị thực hiện</label>
                <input type="text" ng-model="contractor" class="form-control" value="">
            </div>
            <h3>Loại công trình</h3>
            <div class="form-group">
                <label>Loại công trình</label>
                <select ng-model="type" class="form-control">
                    <option value="1">Dân dụng</option>
                    <option value="2">Công nghiệp</option>
                    <option value="3">Giao thông</option>
                    <option value="4">Thủy lợi</option>
                    <option value="5">Hạ tầng kỹ thuật</option>
                </select>
            </div>
            <div class="form-group">
                <label>Loại thiết kế</label>
                <select ng-model="design_type" class="form-control">
                    <option value="1">Thiết kế 1 bước</option>
                    <option value="2">Thiết kế 2 bước</option>
                    <option value="3">Thiết kế 3 bước</option>
                </select>
            </div>
            <div class="form-group">
                <label>Cấp công trình</label>
                <select ng-model="level" class="form-control">
                    <option value="1">Cấp I</option>
                    <option value="2">Cấp II</option>
                    <option value="3">Cấp III</option>
                    <option value="4">Cấp IV</option>
                    <option value="5">Cấp đặc biệt</option>
                </select>
            </div>
            <!--h3>Loại nguồn vốn- thẩm tra</h3>
            <div class="form-group">
                <label>Loại nguồn vốn</label>
                <select ng-model="loai_von" class="form-control">
                    <option value="">Nhà nước</option>
                    <option value="">Tổ chức, cá nhân khác</option>
                </select>
            </div>
            <div class="form-group">
                <label>Loại đơn vị thẩm tra thiết kế</label>
                <select ng-model="loai_tham_tra_thiet_ke" class="form-control">
                    <option value="">Nhà nước</option>
                    <option value="">Tổ chức, cá nhân khác</option>
                </select>
            </div>
            <div class="form-group">
                <label>Loại đơn vị thẩm tra dự toán</label>
                <select ng-model="loai_tham_tra_du_toan" class="form-control">
                    <option value="">Nhà nước</option>
                    <option value="">Tổ chức, cá nhân khác</option>
                </select>
            </div-->
        </div>
        <div class="col-lg-1"></div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Đóng</button>
    <button type="submit" class="btn btn-primary" ng-click="create()" ng-disabled="formAddContruction.$invalid">Tạo mới</button>
</div>
