<div class="modal-header">
    <button class="close" ng-click="$dismiss()">&times;</button>
    <h2 class="modal-title">Tất cả công trình</h2>
</div>
<div class="modal-body">
    <div ng-repeat="construction in constructions"
         ui-sref="construction({id: construction.id})" class="construction_item">
        <div class="construction_item_thumbnail"></div>
        <div class="construction_item_meta">
            <div class="construction_item_title">{{construction.name}}</div>
            <div class="construction_item_row">
                Mở vào: {{getDateFormat(construction.updated_at)|date:'dd-MM-yyyy'}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()">Đóng</button>
</div>