<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close">&times;</button>
    <h2 class="modal-title">Thông tin công trình</h2>
</div>
<div class="modal-body">
    <form name="formAddConstruction">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h3>Thông tin chung</h3>
                <div class="form-group"
                     ng-class="{ 'has-error' : formAddConstruction.constructionName.$error.required && formAddConstruction.constructionName.$dirty }">
                    <label>Tên công trình*</label>
                    <input name="constructionName" ng-model="name" class="form-control" required>
                </div>
                <div class="form-inline">
                    <label>Địa điểm</label><br>
                    <div class="form-group">
                        <input ng-model="address" size="39" class="form-control">
                    </div>
                   <div class="form-group">
                    <select ng-model="supplier_id" class="form-control"
                    ng-options="supplier as supplier.name for supplier in suppliers track by supplier.id"
                    >
                        <option value="" selected disabled>-Tỉnh/ thành-</option>
                    </select>
                </div>
                </div>
                <br>
                <div class="form-group">
                    <label>Chủ đầu tư</label>
                    <input ng-model="investor" class="form-control">
                </div>
                <div class="form-group">
                    <label>Đơn vị thực hiện</label>
                    <input ng-model="contractor" class="form-control">
                </div>
                <h3>Loại công trình</h3>
                <div class="form-group">
                    <label>Loại công trình</label>
                    <select class="form-control"
                            ng-options="x for x in ['Dân dụng', 'Công nghiệp', 'Giao thông', 'Thủy lợi', 'Hạ tầng kỹ thuật']"
                            ng-model="type">
                        <option value="" selected disabled>- Chọn loại công trình -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Loại thiết kế</label>
                    <select ng-model="design_type" class="form-control"
                            ng-options="x for x in ['Thiết kế 1 bước', 'Thiết kế 2 bước', 'Thiết kế 3 bước']">
                        <option value="" selected disabled>- Chọn loại thiết kế -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Cấp công trình</label>
                    <select ng-model="level" class="form-control"
                            ng-options="x for x in ['Cấp I', 'Cấp II', 'Cấp III', 'Cấp IV', 'Cấp đặc biệt']">
                        <option value="" selected disabled>- Chọn cấp công trình -</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Đóng</button>
    <button type="submit" class="btn btn-primary" ng-click="edit()" ng-disabled="formAddConstruction.$invalid">Cập
        nhật
    </button>
</div>
