<div class="col-md-2">
    <div id="category_header_top">
        <p>Danh Sách Hạng Mục</p>
    </div>
    <div id="category_header_bot">
        <input class="form-control" placeholder="Tìm hạng mục" id="input_search_category" type="text">
    </div>
    <div id="category_content" ng-controller="CategoriesController">
        <i ng-click="add()" class="material-icons">add_circle_outline</i>
        <div class="category_item" ng-repeat="category in categories">
            <i ui-sref=".category({category_id:category.id,workplace:estimate})">{{category.name}}</i>
            <div class="category_options">
                <i class="glyphicon glyphicon-remove"></i>
                <i class="glyphicon glyphicon-edit"></i>
            </div>
        </div>
    </div>
</div>