<div class="well well-sm">
    <i class="fa fa-bold" ng-click=""></i>
    <i class="fa fa-italic" ng-click=""></i>
    <i class="fa fa-underline" ng-click=""></i>
    <i class="fa fa-align-left" ng-click=""></i>
    <i class="fa fa-align-center" ng-click=""></i>
    <i class="fa fa-align-right" ng-click=""></i>
    <select ng-model="font" ng-init="font = 'Arial'">
        <option>Arial</option>
        <option>Times New Roman</option>
        <option>Verdana</option>
    </select>
    <select ng-model="fontSize" ng-init="fontSize = 12" ng-options="x for x in [6,7,8,9,10,11,12,13,14,16,18,24,36]"></select>
    <span> Supplier:</span>
    <select ng-model="supplier" ng-options="supplier.name for supplier in suppliers"></select>
</div>