<div>
    <table id="estimate_table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Mã công tác</th>
            <th>Tên công tác/ Diễn giải</th>
            <th>Số lượng</th>
            <th>Dài</th>
            <th>Rộng</th>
            <th>Cao</th>
            <th>Khối lượng</th>
            <th>Đơn vị</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td></td>
            <td></td>
            <td></td>
            <input type="hidden" id="old_id" value=""/>
        </tr>
        <tr>
            <td></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <div id="sum_money">Tổng chi phí:</div>
</div>
