<center ng-if="!showAnalysisTable && !hasInternetError">
    <h3><span class="glyphicon glyphicon-refresh gly-spin"></span> Đang tải...</h3>
</center>
<center ng-if="hasInternetError">
    <div class="alert alert-danger" role="alert">
        <center>
            <p><b>Lỗi kết nối!</b>Dữ liệu của bạn sẽ không được lưu! Vui lòng tải lại trang</p>
            <button type="button" class="btn btn-default" onClick="history.go(0)">Tải lại</button>
        </center>
    </div>
</center>
<div class="row">
  <div uib-alert ng-repeat="alert in alerts.alertList" ng-class="'alert-warning'" close="alerts.closeAlert($index)">{{alert.msg}}</div>
</div>
<div class="row" ng-if="showAnalysisTable">
	<h3 class="col-lg-2">Phân tích vật tư</h3>&nbsp
	<form class="col-lg-10">
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="filterCondition.showMaterials">Vật liệu
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="filterCondition.showLabors">Nhân công
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="filterCondition.showMachines">Ca máy
		</label>
	</form>
</div>
<table class="table table-sm" ng-if="showAnalysisTable" id="analysis-table">
  <thead>
	<tr class="bg-primary">
	  <th class="col-lg-1">#</th>
	  <th class="col-lg-2">Mã</th>
	  <th class="col-lg-3">Tên</th>
	  <th class="col-lg-1">Đơn vị</th>
	  <th class="col-lg-1">Khối lượng</th>
	  <th class="col-lg-1">Hao phí</th>
	  <th class="col-lg-1">Đơn giá</th>
	  <th class="col-lg-1">Thành tiền</th>
	  <th class="col-lg-1">Tổng tiền</th>
	</tr>
  </thead>
  <tbody>
	<!--Rows that show data only-->
	<tr ng-repeat="row in analysisSheet" ng-class="row.classType" ng-show="filterResources(row)" context-menu="menuOptions" ng-if="!row.isNewRow">
	  <td class="col-lg-1">{{$index+1}}</td>
	  <td class="col-lg-2">{{row.code}}</td>
	  <td class="col-lg-3">{{row.name}}</td>
	  <td class="col-lg-1">{{row.unit}}</td>
	  <td class="col-lg-1">{{row.value | number:2}}</td>
	  <td class="col-lg-1">{{row.unitValue | number:2}}</td>
	  <td class="col-lg-1">{{row.unitPrice | number:0}}</td>
	  <td class="col-lg-1"><p ng-if="row.unitValue">{{row.unitValue*row.unitPrice | number:0}}</p></td>
	  <td class="col-lg-1"><p ng-if="row.unitValue">{{row.unitValue*row.unitPrice*row.workValue | number:0}}</p></td>
	</tr>

	<!--Rows to insert new data-->
	<tr ng-repeat="row in analysisSheet" ng-class="row.classType" ng-show="filterResources(row)" context-menu="menuOptions" ng-if="row.isNewRow">
	  <td class="col-lg-1">{{$index+1}}</td>
	  <td class="col-lg-2">
	  	<input class="input-in-cells" 
	  		ng-model="row.code" 
	  		ng-click="resourcesWindowPos($event)" 
		  	ng-change="searchResource(row, row.code)" 
		  	ng-model-options="{debounce: 200}" 
		  	ng-blur="resourcesWindow.show = false;">
	  </td>
	  <td class="col-lg-3">
	  	<input class="input-in-cells" 
		  	ng-model="row.name" 
		  	
		  	ng-change="searchResource(row, row.name)" 
		  	ng-model-options="{debounce: 200}" 
		  	ng-blur="resourcesWindow.show = false;">
	  </td>
	  <td class="col-lg-1">
	  	<input class="input-in-cells" ng-model="row.unit">
	  </td>
	  <td class="col-lg-1">
	  	{{row.value}}
	  </td>
	  <td class="col-lg-1">
	  	<input class="input-in-cells" ng-model="row.unitValue">
	  </td>
	  <td class="col-lg-1">
	  	{{row.unitPrice}}
	  </td>
	  <td class="col-lg-1">
	  	{{row.unitValue*row.unitPrice}}
	  </td>
	  <td class="col-lg-1">
	  	{{row.unitValue*row.unitPrice*row.workValue}}
	  </td>
	</tr>
  </tbody>
</table>
<div id="works-table" ng-style="{top: top, left: left}" ng-if="resourcesWindow.show">
    <table>
        <tbody>
        <tr ng-repeat="res in filterResults = (resourceList | filter:resourcesWindow.search)" ng-if="filterResults.length">
            <td>{{res.name}}</td>
            <td>{{res.unit}}</td>
            <td>{{res.price}}</td>
            <td>
            	<button class="btn btn-primary" ng-click="addConstructionResourceWork()">
            		{{resourcesWindow.method}}
            	</button>
            </td>
        </tr>
        <tr ng-if="!filterResults.length"><td colspan="4">Không có kết quả</td></tr>
        </tbody>
    </table>
</div>