<div class="row">
	<h3 class="col-lg-2">Phân tích vật tư</h3>&nbsp
	<form class="col-lg-10">
		<label class="checkbox-inline">
		  <input type="checkbox" value="" checked>Vật tư
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" value="" checked>Nhân công
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" value="" checked>Ca máy
		</label>
	</form>
</div>
<table class="table table-sm">
  <thead>
	<tr class="bg-primary">
	  <th class="col-lg-1">#</th>
	  <th class="col-lg-2">Mã</th>
	  <th class="col-lg-3">Tên</th>
	  <th class="col-lg-1">Đơn vị</th>
	  <th class="col-lg-1">Khối lượng</th>
	  <th class="col-lg-1">Hao phí</th>
	  <th class="col-lg-1">Đơn giá</th>
	  <th class="col-lg-1">Thành tiền</th>
	  <th class="col-lg-1">Tổng tiền</th>
	</tr>
  </thead>
  <tbody>
	<tr ng-repeat="row in analysisSheet" ng-hide="$index===0" ng-class="row.classType">
	  <td class="col-lg-1">{{$index}}</td>
	  <td class="col-lg-2">{{row.code}}</td>
	  <td class="col-lg-3">{{row.name}}</td>
	  <td class="col-lg-1">{{row.unit}}</td>
	  <td class="col-lg-1">{{row.value}}</td>
	  <td class="col-lg-1">{{row.unitValue}}</td>
	  <td class="col-lg-1">{{row.unitPrice}}</td>
	  <td class="col-lg-1"><p ng-if="row.unitValue">{{row.unitValue*row.unitPrice}}</p></td>
	  <td class="col-lg-1"><p ng-if="row.unitValue">{{row.unitValue*row.unitPrice*row.workValue}}</p></td>
	  </tr>
	</tr>
  </tbody>
</table>