<!--div class="input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-pushpin"></span></div>
    <input class="form-control input-sm" ng-model="input" ng-change="inputChanged(input)">
</div-->
{{searchWork}}{{left}}{{top}}
<table id="estimate_table">
    <thead>
    <tr>
        <th>&nbsp</th>
        <th>Mã công tác</th>
        <th>Tên công tác/ Diễn giải</th>
        <th>Đơn vị</th>
        <th>Số lượng</th>
        <th>Dài</th>
        <th>Rộng</th>
        <th>Cao</th>
        <th>Khối lượng</th>
        <th>Đơn giá</th>
        <th>Thành tiền</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="work in categoryWorks track by $index">
        <td ng-init="index = $index">{{$index + 1}}</td>
        <td ng-repeat="field in ['code', 'name']" contenteditable
            ng-model="work[field]" ng-click="cellFocused(index,field,work[field])"
            ng-change="cellChanged(work[field])"></td>
        <td>{{work.unit}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td contenteditable ng-model="work.value" ng-blur=""></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{categoryWorks.length+1}}</td>
        <td contenteditable ng-model="newLine" ng-change="cellChanged(newLine)"></td>
        <td ng-repeat="x in [1, 2, 3, 4, 5, 6, 7, 8, 9]"></td>
    </tr>
    </tbody>
</table>
<div id="works_table" ng-style="{top: searchWork.top, left: searchWork.left}" ng-show="searchWork.show">
    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Unit</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="work in works | filter:searchWork.search">
            <td>{{work.code}}</td>
            <td>{{work.name}}</td>
            <td>{{work.unit}}</td>
            <td><button ng-click="addWork(work.code)" class="btn btn-primary">Add</button></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="sum_money">Tổng chi phí: 0 VNĐ</div>