<!--div class="input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-pushpin"></span></div>
    <input class="form-control input-sm" ng-model="input" ng-change="inputChanged(input)">
</div-->
{{searchWork.search}}
<table id="estimate_table">
    <thead>
    <tr>
        <th>&nbsp</th>
        <th>Work code</th>
        <th>Work name/ Description</th>
        <th>Unit</th>
        <th>Amount</th>
        <th>Length</th>
        <th>Width</th>
        <th>Height</th>
        <th>Value</th>
        <th>Unit price</th>
        <th>Total price</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="work in categoryWorks track by $index" context-menu="menuOptions">
        <td>{{work.no}}</td>
        <td contenteditable ng-model="work.code" ng-click=cellFocused($event) ng-change="searchReplaceWork('code', work.code)" ng-focus="focusToEdit($index)"></td>
        <td contenteditable ng-model="work.name" ng-click=cellFocused($event) ng-change="searchReplaceWork('name', work.name)" ng-focus="focusToEdit($index)"></td>
        <td>{{work.unit}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td contenteditable ng-model="work.value" ng-focus="oldValue = work.value" ng-blur="replaceValue($index, work.value, oldValue)"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{categoryWorks.length+1}}</td>
        <td contenteditable ng-model="newLine" ng-click=cellFocused($event) ng-change="searchAddWork(newLine)" ng-focus="editWorkParams.isEditing=false"></td>
        <td ng-repeat="x in [1, 2, 3, 4, 5, 6, 7, 8, 9]"></td>
    </tr>
    </tbody>
</table>
<div id="works_table" ng-style="{top: searchWork.top, left: searchWork.left}" ng-show="searchWork.show">
    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Unit</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="work in works | filter:searchWork.search">
            <td>{{work.code}}</td>
            <td>{{work.name}}</td>
            <td>{{work.unit}}</td>
            <td>
			  <button ng-hide="editWorkParams.isEditing" ng-click="addWork(work)" class="btn btn-primary">Add</button>
			  <button ng-show="editWorkParams.isEditing" ng-click="editWork(work)" class="btn btn-primary">Edit</button>
			</td>
        </tr>
        </tbody>
    </table>
</div>
<div id="sum_money">Tổng chi phí: 0 VNĐ</div>