<div class="input-group">
  <div class="input-group-addon"><span class="glyphicon glyphicon-pushpin"></span></div>
  <input type="text" class="form-control input-sm" ng-model="pointerValue">
</div>
<table id="estimate_table">
    <thead>
    <tr>
        <th>&nbsp</th>
        <th>Mã công tác</th>
        <th>Tên công tác/ Diễn giải</th>
        <th>Số lượng</th>
        <th>Dài</th>
        <th>Rộng</th>
        <th>Cao</th>
        <th>Khối lượng</th>
        <th>Đơn vị</th>
        <th>Đơn giá</th>
        <th>Thành tiền</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="w in testEstimateTable">
        <td></td>
        <td contenteditable ng-click="getPointedValue(this)">{{w.work_id}}</td>
        <td contenteditable ng-click="getPointedValue(this)">{{w.name}}</td>
        <td contenteditable ng-click="getPointedValue(this)">{{w.amount}}</td>
        <td contenteditable ng-click="getPointedValue(this)">{{w.length}}</td>
        <td contenteditable ng-click="getPointedValue(this)">{{w.width}}</td>
        <td contenteditable ng-click="getPointedValue(this)">{{w.height}}</td>
        <td contenteditable ng-click="getPointedValue(this)">{{w.value}}</td>
        <td ng-click="getPointedValue(this)">{{w.unit}}</td>
        <td ng-click="getPointedValue(this)">{{w.price}}</td>
        <td ng-click="getPointedValue(this)">{{w.total}}</td>
    </tr>
	<tr>
		<td></td>
        <td contenteditable></td>
        <td contenteditable></td>
        <td contenteditable></td>
        <td contenteditable></td>
        <td contenteditable></td>
        <td contenteditable></td>
        <td contenteditable></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
	</tr>
    </tbody>
</table>
<div id="sum_money">Tổng chi phí: 0 VNĐ</div>
