<table class="table table-bordered table-sm">
  <thead>
    <tr class="bg-info">
      <th class="col-lg-1"><b>STT</b></th>
      <th class="col-lg-4"><b>TÊN CHI PHÍ</b></th>
      <th class="col-lg-1"><b>KÍ HIỆU</b></th>
      <th class="col-lg-1"><b>HỆ SỐ</b></th>
	  <th class="col-lg-3"><b>CÁCH TÍNH</b></th>
	  <th class="col-lg-2"><b>THÀNH TIỀN</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="col-lg-1">1</th>
      <td class="col-lg-4">Chí phí vật liệu</td>
      <td class="col-lg-1">VL</td>
      <td class="col-lg-1">1.000</td>
      <td class="col-lg-3">VL</td>
      <td class="col-lg-2">{{summaryTable.VL | number:0}} VND</td>
    </tr>
    <tr>
      <th class="col-lg-1">2</th>
      <td class="col-lg-4">Chí phí nhân công</td>
      <td class="col-lg-1">NC</td>
      <td class="col-lg-1">5.333</td>
	  <td class="col-lg-3">NC x HS</td>
      <td class="col-lg-2">{{summaryTable.NC | number:0}} VND</td>
    </tr>
	<tr>
      <th class="col-lg-1">3</th>
      <td class="col-lg-4">Chí phí máy thi công</td>
      <td class="col-lg-1">M</td>
      <td class="col-lg-1">1.500</td>
	  <td class="col-lg-3">M x HS</td>
      <td class="col-lg-2">{{summaryTable.M | number:0}} VND</td>
    </tr>
    <tr>
      <th class="col-lg-1">4</th>
      <td class="col-lg-4">Chí phí trực tiếp khác</td>
      <td class="col-lg-1">TT</td>
      <td class="col-lg-1">0.025</td>
	  <td class="col-lg-3">(VL + NC + M) x HS</td>
      <td class="col-lg-2">{{summaryTable.TT | number:0}} VND</td>
    </tr>
	<tr>
      <th class="col-lg-1"></th>
      <td class="col-lg-4">- Chí phí trực tiếp</td>
      <td class="col-lg-1">T</td>
      <td class="col-lg-1">1.000</td>
	  <td class="col-lg-3">VL + NC + M + TT</td>
      <td class="col-lg-2">{{summaryTable.T | number:0}} VND</td>
    </tr>
    <tr>
      <th class="col-lg-1"></th>
      <td class="col-lg-4">- Chí phí chung</td>
      <td class="col-lg-1">C</td>
      <td class="col-lg-1">0.065</td>
	  <td class="col-lg-3">T x HS</td>
      <td class="col-lg-2">{{summaryTable.C | number:0}} VND</td>
    </tr>
	<tr>
      <th class="col-lg-1"></th>
      <td class="col-lg-4">- Thu nhập chịu thuế tính trước</td>
      <td class="col-lg-1">L</td>
      <td class="col-lg-1">0.055</td>
	  <td class="col-lg-3">(T + C) x HS</td>
      <td class="col-lg-2">{{summaryTable.L | number:0}} VND</td>
    </tr>
    <tr>
      <th class="col-lg-1"></th>
      <td class="col-lg-4">- Chi phí xây dựng trước thuế</td>
      <td class="col-lg-1">G</td>
      <td class="col-lg-1">1.000</td>
	  <td class="col-lg-3">T + C + L</td>
      <td class="col-lg-2">{{summaryTable.G | number:0}} VND</td>
    </tr>
	<tr>
      <th class="col-lg-1"></th>
      <td class="col-lg-4">- Thuế giá trị gia tăng</td>
      <td class="col-lg-1">VAT</td>
      <td class="col-lg-1">0.1</td>
	  <td class="col-lg-3">G x HS</td>
      <td class="col-lg-2">{{summaryTable.VAT | number:0}} VND</td>
    </tr>
    <tr>
      <th class="col-lg-1"></th>
      <td class="col-lg-4">- Chi phí xây dựng sau thuế</td>
      <td class="col-lg-1">Gxd</td>
      <td class="col-lg-1">1.000</td>
	  <td class="col-lg-3">G + VAT</td>
      <td class="col-lg-2">{{summaryTable.Gxd | number:0}} VND</td>
    </tr>
	<tr>
      <th class="col-lg-1"></th>
      <td class="col-lg-4">- Chi phí xây dựng nhà tạm, nhà điều hành</td>
      <td class="col-lg-1">Gxdnt</td>
      <td class="col-lg-1"></td>
	  <td class="col-lg-3">G x 1% + (1 + 10%)</td>
      <td class="col-lg-2">{{summaryTable.Gxdnt | number:0}} VND</td>
    </tr>
    <tr class="bg-info">
      <th class="col-lg-1"><b>*.</b></th>
      <td class="col-lg-4"><b>- Tổng cộng</b></td>
      <td class="col-lg-1"><b>Gxdtc</b></td>
      <td class="col-lg-1"><b>1.000</b></td>
      <td class="col-lg-3"><b>Gxd + Gxdnt</b></td>
      <td class="col-lg-2">{{summaryTable.Gxdtc | number:0}} VND</td>
    </tr>
  </tbody>
</table>